<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1>予定の追加</h1>
        <%= username %>さん<br />        
        <form action="/calender/create" method="post">
            <input type="hidden" name="year" value="<%= year %>">
            <input type="hidden" name="month" value="<%= month %>">
            <input type="hidden" name="date" value="<%= date %>">
            <label for="name">タイトル</label>
            <input id="name" type="text" name="name" autofocus required><br />
            <span id="timecontrol">
            <label for="time">時間</label>
            <input id="time" type="time" name="time" value="00:00" required>
            〜
            <label for="end"></label>
            <input id="end" type="time" name="end" value="00:00" required>
            </span><br />
            <label for="allday">終日</label>
            <input id="allday" type="checkbox" name="allday"><br />
            <label for="category">カテゴリ</label>
            <select id="category" name="category" required>
                <option value="社内作業">社内作業</option>
                <option value="社外作業">社外作業</option>
            </select><br />
            <label for="text">内容</label>
            <input id="text" type="text" name="text"><br />
            <input type="submit" value="登録">
            <input type="button" onclick="window.location.href = '/calender?year=<%= year %>&month=<%= month %>&day=<%= date %>'" value="キャンセル">
        </form>
        <script type="text/javascript">
            window.addEventListener("DOMContentLoaded" , function(){
                var checkbox_allday = document.getElementById('allday');
                checkbox_allday.addEventListener("change", function(){
                    var time = document.getElementById('time');
                    var end = document.getElementById('end');
                    var timecontrol = document.getElementById('timecontrol');
                    if(document.getElementById('allday').checked == true){
                        timecontrol.hidden = true;
                    }else{
                        timecontrol.hidden = false;
                    }
                })
            });
        </script>
    </body>
</html>